body {
  background-color: #ccc;
}

.square {
    width:200px;
    height:200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side_border {
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.top_bottom_border {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.win {
  background-color: #54FFFF;
}

#container {
    text-align:center;
}

#board {
    display: inline-block;
    margin-top:2%;

}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

table {
    background-color: #fff;
}

p {
    margin-left:25%;
    margin-right:25%;
}

#newGame {
  border-style: solid;
  border-width: 2px;
  border-color: purple;
  margin-top: 20px;
}

#alert {
  background-color: fff;
  border-style: solid;
  border-width: 2px;
  border-color: purple;
  font-size: 2em;
  margin: 0 auto;
  width: 350px;
}
